<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devsawe.duka">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/navicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/navicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.NewGoods"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Activities.NewSuppliers" />
        <activity android:name=".Activities.NewCustomers" />
        <activity android:name=".Activities.GoodSales" />
        <activity android:name=".Activities.FingerPrint" />
        <activity android:name=".Activities.BarcodeScanner"></activity>
    </application>

</manifest>